                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                  <p class="col-md-4 mb-0">© 2022 Blog - DanEsp, EUMV, FelOrg</p>
                  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                  </a>
                  <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark"><img src="images/twitter.svg" alt="t"></a></li>
                    <li class="ms-3"><a class="link-dark"><img src="images/facebook.svg" alt="f"></a></li>
                    <li class="ms-3"><a class="link-dark"><img src="images/instagram.svg" alt="i"></a></li>
                  </ul>
                </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
</html>