<%- include('partials/header.ejs'); %>

<form id="cont-block" class="mt-4 p-3" method="post" action="/save" enctype="multipart/form-data">
  <h2>Create a new post</h2>
  <div class="mb-3">
      <label for="bTitle" class="form-label mt-2">Title</label>
      <input type="text" class="form-control" id="bTitle" name="bTitle" placeholder="Write an atractive title" required>
  </div>
  <div class="mb-3">
      <label for="bContent" class="form-label">Post (HTML)</label>
      <textarea type="text" class="form-control" id="bContent" placeholder="Write your blog here" name="bContent" rows="10" required></textarea>
  </div>
  <div class="mb-3">
      <label for="bImg" class="form-label">Image</label>
      <input class="form-control" type="file" name="img" accept="image/*" required/>
  </div>

  <h2>Author</h2>
  <div class="mb-3">
      <label for="aName" class="form-label mt-2">Name</label>
      <input type="text" class="form-control" id="aName" name="aName" placeholder="What is your name?" required>
  </div>
  <div class="mb-3">
      <label for="aAbout" class="form-label">About me</label>
      <textarea type="text" class="form-control" id="aAbout" name="aAbout" rows="2" placeholder="Tell the world a little bit about yourself" required></textarea>
  </div>
  <div class="mb-3">
      <label for="aName" class="form-label mt-2">Show yourself to the world</label>
      <input class="form-control" type="file" name="aImg" accept="image/*" required/>
  </div>
  <button type="submit" class="btn btn-primary form-control hover-underline-animation">Save changes</button>
</form>

<%- include('partials/footer.ejs'); %>